table {
    border-top: solid 2px;
    border-left: solid 2px;
    margin: 80px auto 0px auto;
}
th {
    font-size: 20px;
    width: 80px;
    height: 80px;
    border-bottom: solid 2px;
    border-right: solid 2px;
}
.style_button {
    padding: 25px 40px;
    margin: 0px 10px;
}
#button_area {
    margin-top: 30px;
    text-align: center;
}

.roulette_loop_color {
    background-color: #F00;
}

.roulette_result_color {
    background-color: #00f;
}
